<html ng-app='mys' lang='en'>
  <head>
    <title>Mystery Works</title>
    <script src="angular.min.js"></script>
    <script src="angular-resource.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="mystery.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="mystery.css">
  </head>
  <body>
    <topbar></topbar>
    <div id='view' ng-view></div>
  </body>
</html>