%div.container-fluid
  %div.row
    %div.col-xs-7
      %div.container-fluid.no-left-padding
        %div.row.jumbotron
          %div.col-md-4
            =image_tag "http://i.imgur.com/iQ7kMay.png"
          %div.col-md-8
            %h1.welcome-text Welcome!
            %div This website is dedicated to the display of various bits of content created by me. It'll hold any fun apps I make, blog posts about games I'm working on, commentary on programming books I might have read, and bits of content that I'd like to share with others. I'll be evolving the site as I find more time to dedicate to it, and more ideas to tack onto it. I hope you enjoy it!
            %div.source= link_to "Check out this site's source code!", "https://github.com/MysteryMachine/MysteryWorks"
        %div.row
    %div.col-xs-5.jumbotron
      %div.container-fluid
        %div.row
          %div.col-xs-2
          %div.col-xs-10
            %h2.about-mystery About Mystery
        %div.row
          %div.col-xs-2 Bio
          %div.col-xs-10
            Sal, also known as Mystery, is a developer based off of Brooklyn, NY. Born in Brazil, and raised in Newark, New Jersey, Mystery has loved mathematics from a young age, and has developed a love for programming ever since taking his first class in high school in 2009. He currently works developing Rails applications in Manhattan. His hobbies include functional programming, game development, game design and philosophy, music, marathoning through the X-Files, and eating way too much baba ganoush.
        %hr
        %div.row
          %div.col-xs-2 Code Talk
          %div.col-xs-10
            Mystery's favorite language is C++. Other favorites include Ruby, Scala, and Python. Mystery has dabbled in a variety of languages, include HTML, Javascript, CSS, C#, C, SML, Octave, Scheme, and Java.
        %hr 
        %div.row
          %div.col-xs-2 Github
          %div.col-xs-10
            = link_to "Check me out on GitHub!", "https://github.com/MysteryMachine"
        %hr
        %div.row
          %div.col-xs-2 Contact Info
          %div.col-xs-10
            Email me at
            %br/
            %em mysteryworkssuperuser AT gmail DOT com
