/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "bootstrap/theme";

$truffle: #171512;
$dark-coffee: #29221E;
$coffee-and-milk: #AD8F71;
$coffee: #52493D;
$cream: #EDE7E1;
$foam: #C9B9A9;

a{
  color: $font-link;
}

a:hover{
  color: $font-basic;
}

nav.navbar.navbar-inverse{
  a.navbar-brand{
    color: $font-basic;
  }

  a.navbar-brand:hover{
    color: $font-link;
  }

  ul.nav{
    li{
      a{
        color: $font-basic;
      }

      a:hover{
        color: $font-link;
      }
    }
  }
}

hr{
  border-top: 1px solid $font-basic;
}

em{
  color: $font-link
}