// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-mystery{
  text-align: center;
}

.source{
  padding-top: 26px;
}

.no-left-padding{
  padding-left: 0px;
}