.sign-up{
  border-radius: 15px;
  padding: 30px;

  h2{
    margin-top: 0px;
  }

  div{
    padding: 3px 0px;
  }
}

input.form-control{
  width: 95%;
}

label{
  position: relative;
  height: inherit;
  top: 20%;
  left: 13%;
}

input.align-sign-up{
  position: relative;
  left: 13%;
  top: 3px;
}

div.vcenter{
  height: 46px;
}

div.vcenter-long{
  height: 66px;
}

.sign-up{
  min-width: 420px;
  max-width: 420px;
  width: 420px;
  margin: 0 auto;
}

label.remember-me{
  left: 0px;
}

.smaller-h2{
  font-size: 16px;
}

label.multiline{
  top: 40%;
}